body {
  font-family: Helvetica, sans-serif;
}

img {
  width: 200px;
  margin: 5px;
}

#album-container {
  padding: 20px 0;
}

input[type=text] {
  width: 500px;
}

input {
  font-size: 14pt;
  margin: 5px;
}