---
---
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title>Programação Web Interativa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/icon32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/icon16.png" sizes="16x16" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Space+Mono:400,700|Open+Sans:400,700">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css"/>
  </head>
  <body>
    <div id="container" class="sidebar">
      <section class="head">
        <nav>
          <ul>
            <li {% if page.active == 'syllabus' %} class="active" {% endif %} >
              <a href="{{ site.baseurl }}/syllabus" class="nav">Syllabus</a>
            </li>
            <li {% if page.active == 'info' %} class="active" {% endif %} >
              <a href="{{ site.baseurl }}/info" class="nav">Information</a>
            </li>
          </ul>
        </nav>
        <section class="contents">
          <a href="{{ site.baseurl }}" class="nav">
            <h1>IWP</h1>
            Interactive Web Programming
          </a>
        </section>
        <nav>
          <ul>
            <li>
              <a href="https://web.stanford.edu/class/archive/cs/cs193x/cs193x.1176/" class="nav" target="_blank">
                Based on Stanford's CS193X
              </a>
            </li>
          </ul>
        </nav>
      </section>
      <section class="main">
        <nav>
          <ul>
            <li {% if page.active == 'lectures' %} class="active" {% endif %} >
              <a href="{{ site.baseurl }}/lectures" class="nav">Lectures</a>
            </li>
            <li {% if page.active == 'homework' %} class="active" {% endif %} >
              <a href="{{ site.baseurl }}/homework" class="nav">Homework</a>
            </li>
          </ul>
        </nav>
        <section>
          {{ content }}
        </section>
        <div class="icon">
          Icons made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
      </section>
    </div>
  </body>
</html>
