---
---
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title>Programação Web Interativa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Space+Mono:400,700|Open+Sans:400,700">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}"/>
  </head>
  <body>
    <div id="container" class="sidebar">
      <section class="head">
        <nav>
          <ul>
            <li>
              <a href="ementa" class="nav">Ementa</a>
            </li>
            <li>
              <a href="info" class="nav">Informações</a>
            </li>
          </ul>
        </nav>
        <section class="contents">
          <a href="" class="nav">
            <h1>Programação Web Interativa</h1>
          </a>
        </section>
        <nav>
          <ul>
            <li>
              <a href="https://web.stanford.edu/class/archive/cs/cs193x/cs193x.1176/" class="nav" target="_blank">
                Baseado na disciplina CS193X de Stanford
              </a>
            </li>
          </ul>
        </nav>
      </section>
      <section class="main">
        <nav>
          <ul>
            <li>
              <a href="aulas.html" class="nav">Aulas</a>
            </li>
            <li>
              <a href="tarefas.html" class="nav">Tarefas</a>
            </li>
          </ul>
        </nav>
        <section>
          <article>
            {{ content }}
          </article>
        </section>
      </section>
    </div>
  </body>
</html>
